/* General Elements */
body{
    font-family: consolas, sans-serif;
    font-size: 12px;
}

/* Checkbox Redesign */
label {
  display: block;
  padding-left: 15px;
  margin-top: 6px;
  text-indent: -15px;
}

input {
  width: 13px;
  height: 13px;
  padding:0;
  margin: 6px 0 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* Notifications Extension */
/*noinspection ALL*/
.notification_info, .notification_success, .notification_warning, .notification_error {
    padding:0 15px;
    border-radius:.5em;
    border: 1px solid;
    box-shadow:1px 1px 3px #888;
    margin: 3px 0 0;
}

/*noinspection ALL*/
.notification_info {
    color: #00529B;
    background-color: #BDE5F8;
}

/*noinspection ALL*/
.notification_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

/*noinspection ALL*/
.notification_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

/*noinspection ALL*/
.notification_error {
    color: #D8000C;
    background-color: #FFD2D2;
}