/* General Elements */
body{
    font-family: consolas, sans-serif;
    font-size: 12px;
}

/* Checkbox Redesign */
label {
    display: block;
    margin-top: 6px;
    padding-left: 15px;
    text-indent: -15px;
}

input {
    *overflow: hidden;
    height: 13px;
    margin: 6px 0 0;
    padding:0;
    position: relative;
    top: -1px;
    vertical-align: bottom;
    width: 13px;
}

/* Notifications Extension */
/*noinspection ALL*/
.notification_info, .notification_success, .notification_warning, .notification_error {
    border-radius:.5em;
    border: 1px solid;
    box-shadow:1px 1px 3px #888;
    margin: 3px 0 0;
    padding:0 15px;
}

/*noinspection ALL*/
.notification_info {
    background-color: #BDE5F8;
    color: #00529B;
}

/*noinspection ALL*/
.notification_success {
    background-color: #DFF2BF;
    color: #4F8A10;
}

/*noinspection ALL*/
.notification_warning {
    background-color: #FEEFB3;
    color: #9F6000;
}

/*noinspection ALL*/
.notification_error {
    background-color: #FFD2D2;
    color: #D8000C;
}